<form class="form-inline mt-3">
  <div class="form-group">
    <input type="search"
           class="form-control"
           placeholder="Enter search string"
           onkeydown="if(event.keyCode == 13) return false;"
           #search>
  </div>
  <button class="btn btn-primary"
          type="button"
          (click)="doSearch(search.value)">
    Search
  </button>
</form>

<br/>

<div class="text-center">
  <p class="lead" *ngIf="loading">Loading...</p>
</div>

<ul class="list-group">
  <li class="list-group-item"
      *ngFor="let track of results">
    <img src="{{ track.thumbnail }}" alt="Art Work">
    &nbsp;
    <a href="{{ track.link }}"
       target="_blank">{{ track.name }}</a>
  </li>
</ul>
